.card--container {
    display: grid;
    margin: 2rem;
    overflow-y: unset;
    grid-template-columns: repeat( auto-fit, minmax(19.33%, 1fr) );
}

 // Small devices (landscape phones, 576px and up)
 @media (min-width: 320px) {
    .card--container {
        display: grid;
        margin: 2rem;
        overflow-y: unset;
        grid-template-columns: repeat(auto-fit, minmax(59.33%, 1fr));
        grid-gap: 3rem;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 520px) {
    .card--container {
        display: grid;
        margin: 2rem;
        overflow-y: unset;
        grid-template-columns: repeat(auto-fit, minmax(46.33%, 1fr));
        grid-gap: 3rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .card--container {
        display: grid;
        margin: 2rem;
        overflow-y: unset;
        grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
        grid-gap: 3rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card--container {
        display: grid;
        margin: 2rem;
        overflow-y: unset;
        grid-template-columns: repeat(auto-fit, minmax(30.33%, 1fr));
        text-align: center;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .card--container {
        display: grid;
        margin: 2rem;
        overflow-y: unset;
        grid-template-columns: repeat( auto-fit, minmax(19.33%, 1fr) );
        text-align: center;
    }
}
