:root {
  --body: #151520;
  --color: #fff;
  --text-color: #02D0F7;
  --filter-icon: #fff;
  --font-size: 1.4rem;
  --placeholder-text: #d6d6dd;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: var(--body);
  color: var(--color);
  width: 100%;
  height: 100vh;
}

.grid {
  display: -ms-grid;
  display: grid;
}
